<div class="quick-view-panel swatch-product-id-{{product.id}}" id="product-quickview-{{ product.id }}" data-id="{{ product.id }}">
  <div class="quick-view-panel-inner">
    <div id="quick-view-panel-inner-{{product.id}}">
    </div>
  <a href="#" class="quick-view-panel-close"></a>
  </div>
</div>
