<a class="twitter-timeline" 
   data-height="{{ block.settings.twitter_height | escape }}" 
   data-theme="light" 
   href="https://twitter.com/{{ block.settings.twitter_username | escape }}">Tweets by {{ block.settings.twitter_username | escape }}
</a> 

