.pwd__body-login-overlay {
  display: none; }

.pwd__form-submit, .pwd__social-profiles > li a, .pwd__form-input, .pwd__footer-logo, body.-open-login .pwd__body-login-overlay {
  display: block; }

.pwd__footer-social {
  display: table; }

.pwd__login svg, .pwd__login span, .pwd__social-profiles > li {
  display: inline-block; }

.pwd__login, .pwd__form-submit {
  text-transform: uppercase; }

.pwd__login {
  text-decoration: none !important; }

.pwd__content, .pwd__footer, .pwd__countdown {
  text-align: center; }

.pwd__form-submit, .pwd__bg-img,
.pwd__bg-overlay, .pwd__login {
  position: absolute; }

.pwd__social-profiles > li a, .pwd__body, .pwd__bg-wrap, .pwd__form-wrap, .pwd__success-icon, .pwd__offset-inner {
  position: relative; }

.pwd__offset {
  position: fixed; }

.pwd__body-login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.pwd__bg-wrap {
  overflow: hidden; }

.pwd__bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.pwd__form-input {
  border: none; }

.pwd__form-submit {
  border: none !important; }

.pwd__form-input {
  outline: none !important; }

.pwd__footer-powered {
  margin: 0; }

.pwd__footer-social, .pwd__countdown td, .pwd__social-profiles {
  padding: 0; }

.pwd__form-wrap, .pwd__footer-social, .pwd__success-text {
  margin: 0 auto; }

.pwd__footer-social, .pwd__social-profiles {
  list-style: none; }

.pwd__footer-social > li {
  float: left; }

.pwd__offset {
  height: 100vh; }

.pwd__bg-img,
.pwd__bg-overlay, .pwd__form-input, .pwd__offset .pwd__form-wrap {
  width: 100%; }

.pwd__bg-img,
.pwd__bg-overlay, .pwd__bg-wrap, .pwd__offset-inner {
  height: 100%; }

.pwd__form-input {
  border-radius: 45px; }

.pwd__social-profiles > li a, .pwd__success-icon {
  border-radius: 50%; }

.pwd__social-profiles svg, .pwd__success-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.pwd__login:hover {
  opacity: 1; }

.pwd__bg-wrap, .pwd__bg-img {
  z-index: 1; }


.pwd__bg-overlay {
  z-index: 2; }

.pwd__login {
  z-index: 3; }

.pwd__offset {
  z-index: 99; }

.pwd__form-submit, .pwd__offset {
  top: 0;
  right: 0; }

.pwd__offset-admin-login a {
  color: var(--color-primary); }

.pwd__form-submit, .pwd__success-icon {
  background-color: var(--color-primary); }

.pwd__offset-admin-login a {
  color: var(--color-primary); }

.pwd__offset-admin-login a:hover {
  color: var(--color-primary-darken-15); }


.pwd__bg-overlay {
  background-color: #000; }

.pwd__offset {
  background-color: #fff; }

.pwd__body, .pwd__success-icon svg {
  color: #fff; }

.pwd__login, .pwd__form-submit {
  color: #fff !important; }

.pwd__body, .pwd__form-title {
  font-family: var(--font-family); }

.pwd__login, .pwd__form-submit, .pwd__countdown .-numbers, .pwd__offset-title {
  font-weight: var(--font-weight-bolder); }

.pwd__content-title {
  font-family: var(--font-family-header); }

.pwd__body, .pwd__login, .pwd__social-profiles > li a, .pwd__social-profiles svg path, .pwd__offset {
  transition: 0.3s; }

body {
  background: #4d4d4d; }

.pwd__logo-title {
  line-height: 1em;
  margin-top: 0; }

.pwd__logo-img {
  max-width: 200px;
  max-height: 60px; }

.pwd__login {
  top: 50px;
  right: 50px;
  font-size: 12px;
  opacity: .8; }
  .pwd__login svg {
    height: 18px;
    width: 15px;
    margin-bottom: -4px; }

.pwd__content-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 55px;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px; }

.pwd__content-msg {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 30px;
  opacity: .8; }

.pwd__form {
  margin-top: 30px; }

.pwd__form-title {
  margin-bottom: 15px;
  margin-top: 0;
  opacity: .75; }

.pwd__form-wrap {
  width: 80%;
  width: 500px; }

.pwd__form-input {
  padding: 15px 25px;
  padding-right: 120px;
  font-size: 18px;
  box-shadow: 0 5px 30px rgba(var(--color-primary-darken-50-rgb), 0.15);
  background: rgba(255, 255, 255, 0.9); }

.pwd__form-submit {
  height: 55px;
  line-height: 55px;
  padding: 0 25px;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 0 45px 45px 0; }
  .pwd__form-submit:hover {
    background: var(--color-primary-lighten-15); }

.pwd__footer-powered {
  opacity: .85; }

.pwd__footer-social {
  margin-top: 25px; }
  .pwd__footer-social > li {
    margin: 0 5px; }

.pwd__footer-logo {
  width: 100px;
  margin: 0 auto 5px auto; }
  .pwd__footer-logo path {
    fill: #50B83C; }

.pwd__countdown table {
  margin: 30px auto; }

.pwd__countdown td {
  width: 80px; }

.pwd__countdown .-numbers {
  font-size: 35px; }

.pwd__countdown .-titles {
  opacity: .8; }

.pwd__social-profiles {
  margin-top: 30px;
  margin-bottom: -10px; }
  .pwd__social-profiles > li {
    margin: 0 5px 10px 5px; }
    .pwd__social-profiles > li:hover a path {
      fill: white; }
    .pwd__social-profiles > li a {
      width: 40px;
      height: 40px;
      background: rgba(255, 255, 255, 0.8); }
  .pwd__social-profiles svg {
    width: 27px;
    height: 27px; }
  .pwd__social-profiles > li.twitter path {
    fill: #1DA1F2; }
  .pwd__social-profiles > li.twitter:hover a {
    background: #1DA1F2; }
  .pwd__social-profiles > li.facebook path {
    fill: #3B5998; }
  .pwd__social-profiles > li.facebook:hover a {
    background: #3B5998; }
  .pwd__social-profiles > li.google path {
    fill: #DB4437; }
  .pwd__social-profiles > li.google:hover a {
    background: #DB4437; }
  .pwd__social-profiles > li.pinterest path {
    fill: #BD081C; }
  .pwd__social-profiles > li.pinterest:hover a {
    background: #BD081C; }
  .pwd__social-profiles > li.instagram path {
    fill: #262626; }
  .pwd__social-profiles > li.instagram:hover a {
    background: #262626; }
  .pwd__social-profiles > li.tumblr path {
    fill: #34526f; }
  .pwd__social-profiles > li.tumblr:hover a {
    background: #34526f; }
  .pwd__social-profiles > li.youtube path {
    fill: #ff0000; }
  .pwd__social-profiles > li.youtube:hover a {
    background: #ff0000; }
  .pwd__social-profiles > li.vimeo path {
    fill: #4EBBFF; }
  .pwd__social-profiles > li.vimeo:hover a {
    background: #4EBBFF; }

.pwd__success-icon {
  width: 130px;
  height: 130px;
  margin: 0 auto 30px auto;
  box-shadow: 0 5px 20px rgba(var(--color-primary-darken-50-rgb), 0.2); }
  .pwd__success-icon svg {
    height: 70px; }
    .pwd__success-icon svg path {
      fill: white; }

.pwd__success-text {
  font-size: 22px;
  max-width: 300px; }

.pwd__offset {
  width: 80%;
  max-width: 400px;
  transform: translateX(100%); }
  .pwd__offset .pwd__form-input {
    box-shadow: 0 3px 20px rgba(var(--color-primary-darken-70-rgb), 0.15);
    padding: 13px 25px;
    font-size: 17px; }
  .pwd__offset .pwd__form-submit {
    height: 50px;
    line-height: 50px; }

.pwd__offset-inner {
  padding: 60px 30px;
  background: #ededed; }

.pwd__offset-title {
  margin: 0 25px 15px 25px; }

.pwd__offset-admin-login {
  margin: 25px;
  font-size: 17px;
  color: gray; }

.pwd__body-login-overlay {
  z-index: 98; }

body.-open-login .pwd__offset {
  transform: translateX(0%);
  box-shadow: -5px 0 30px rgba(0, 0, 0, 0.36); }

body.-open-login .pwd__body {
  -webkit-filter: blur(7px);
          filter: blur(7px); }

@media (min-width: 767px) {
  .pwd__body {
    height: 100vh; }
  .pwd__logo-wrap {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; }
  .pwd__logo-title {
    margin-bottom: 0; }
  .pwd__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding-bottom: 30px; }
  .pwd__footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; } }

@media (max-width: 767px) {
  .pwd__body {
    min-height: 100vh; }
  .pwd__bg-wrap {
    position: absolute;
    width: 100%;
    height: 100%; }
  .pwd__content {
    padding: 70px 30px;
    position: relative;
    z-index: 3; }
  .pwd__logo-wrap {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    text-align: center; }
  .pwd__login {
    z-index: 4;
    padding: 20px;
    top: 30px;
    right: 10px;
    margin-top: -4px; }
    .pwd__login span {
      display: none; }
    .pwd__login svg {
      height: 30px;
      width: 30px; }
  .pwd__footer {
    position: relative;
    padding-bottom: 30px;
    z-index: 3; }
  .pwd__form-wrap {
    width: 100%; } }
