{% section 'product-template' %}
 <div id="expertvoice-recommendations"
      style="margin-left: 5%; margin-right: 5%;"
      class="intersectLoader"
      data-func="expertvoice"
      data-opts="{'productCode':'{{product.id}}','theme':'light','logoStyle':'red'}"
 ></div>
{% section 'product-recommendations' %}
